<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/main.css" />
    <title>Sentences</title>
  </head>
  <body>
    <div class="main">
      <div class="container">
        <a href="">Back To Start</a>
        <table>
          <tbody>
            <tr>
              <td>
                <form action="" method="post">
                  <textarea name="sentence" id="sentence" rows="3"></textarea>
                  <button class="btn" type="submit">Submit</button>
                </form>
              </td>
              <td></td>
              <td>
                <form action="" method="post">
                  <textarea name="sentence" id="sentence" rows="3"></textarea>
                  <button class="btn" type="submit">Submit</button>
                </form>
              </td>
            </tr>
            <tr>
              <td></td>
              <td><p>hello there yoyoyoyo</p></td>
              <td></td>
            </tr>
            <tr>
              <td>
                <form action="" method="post">
                  <textarea name="sentence" id="sentence" rows="3"></textarea>
                  <button class="btn" type="submit">Submit</button>
                </form>
              </td>
              <td></td>
              <td>
                <form action="" method="post">
                  <textarea name="sentence" id="sentence" rows="3"></textarea>
                  <button class="btn" type="submit">Submit</button>
                </form>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
